:root {
    --primary-color: #ee4d2d;
    --header-height: 120px;
    --header-navbar-height: 34px;
    --header-search-height: calc(var(--header-height) - var(--header-navbar-height));
    --sort-height: 48px;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.grid__col-2-4 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn linear 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Growth {
    from {
        transform: scale(var(--from-scale));
    }
    to {
        transform: scale(var(--to-scale));
    }
}

.modal__body {
    --from-scale: 0.7;
    --to-scale: 1;
    background-color: #fff;
    margin: auto;
    z-index: 1;
    width: 500px;
    border-radius: 5px;
    animation: Growth linear 0.2s;
}

/* Button */
.btn {
    background-color: #fff;
    border: none;
    height: 36px;
    min-width: 142px;
    font-size: 1.2rem;
    padding: 0;
    border-radius: 2px;
    cursor: pointer;
}
.btn.btn--normal:hover {
    opacity: 0.6;
}

.btn--size-s {
    font-size: 1.2rem;
    height: 32px;
}

.btn--with-icon {
    display: flex;
    align-items: center;
    margin: 0 4px;
    padding: 0 8px;
}

.btn--with-icon span {
    margin: 0 32px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}

/* Selection  */
.selection {
    background-color: #fff;
    width: 200px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    padding: 0 12px;
    position: relative;
}

.selection:hover .selection__list {
    display: block;
}

.selection__input {
    font-size: 1.4rem;
}

.selection__icon {
    font-size: 1.4rem;
}

.selection__list {
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    background-color: #fff;
    font-size: 1.4rem;
    padding: 10px 12px;
    margin: 0;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.selection__item {
    padding: 10px 0;
}

.selection__item:hover {
    color: var(--primary-color);
    cursor: pointer;
}

/* Pagination */
.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 32px;
}

.pagination__item-link {
    text-decoration: none;
    color: #999;
    margin: 0 12px;
    font-size: 1.6rem;
    min-width: 40px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
}

.pagination__item--active .pagination__item-link {
    background-color: var(--primary-color);
    color: #fff;
}
