/* Tablet and Mobile*/
@media (max-width: 1023px) {
    :root {
        --header-height: 86px;
        --header-navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
    }

    .main {
        margin-top: calc(var(--header-height) + var(--sort-height));
    }

    .header__cart {
        text-align: right;
        width: 75px;
    }

    .header__cart-container {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-heading {
        padding-left: 0;
    }

    .header__cart-item {
        padding: 8px 0;
    }

    .sort {
        display: block;
    }
}

/*Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}
